<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Results-View</title>

    {% if data %}
    <script src="{{ chartjs }}"></script>
    <script src="{{ palettejs }}"></script>
    {% endif %}
</head>
<style type="text/css">
    body{
        text-align: center;
    }
    table {
        margin-left: auto;
        margin-right: auto
    }
</style>
<body>
{% if data %}
<h1>Results</h1>
<div style="width:100%;">
    <canvas id="line_chart"></canvas>
</div>

<h2>Raw data</h2>

<table border="1">
    {% for line in data %}
    <tr>
        <th>  {{ line.label }}  </th>
        {% for cell in line.data %}
        <td>{{ cell|round(4) }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

<h2>Comparison</h2>

<div style="width:100%;">
    <canvas id="radar_chart"></canvas>
</div>

<table border="1">
    <tr>
        <th>Algorithm</th>
        <th>min</th>
        <th>max</th>
        <th>mean</th>
        <th>median</th>
        <th>var</th>
        <th>integral</th>
    </tr>
        {% for line in data %}
    <tr>
        <th>  {{ line.label }}  </th>
        <td> {{ line.min|round(4) }}</td>
        <td> {{ line.max|round(4) }}</td>
        <td> {{ line.mean|round(4) }}</td>
        <td> {{ line.median|round(4) }}</td>
        <td> {{ line.variance|round(6) }}</td>
        <td> {{ line.integral|round(4) }}</td>
    </tr>
    {% endfor %}
</table>

<script type="application/javascript">
    var jsonDataSet = {{ data|tojson|safe }};
    colors = palette('rainbow',jsonDataSet.length).map(function(hex) {
        return '#' + hex;
      })
    var config_line = {
        type: 'line',
        data: {
            labels: [],
            datasets: []
        },
        options: {
            responsive: true,
            title: {
                display: true,
                text: 'Best matching algorithms'
            },
            tooltips: {
                mode: 'point',
                intersect: false,
            },
            hover: {
                mode: 'point',
                intersect: true
            },
            scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'String'
                    }
                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Match Rate',
                    },
                    ticks: {
                        beginAtZero: true
                     }
                }]
            }
        }
    };

    var config_radar = {
        type: 'radar',
        data: {
            labels: ["min","max","mean","median","var","integral"],
            datasets: []
        },
        options: {
            responsive: true,
            title: {
                display: true,
                text: 'Best matching algorithms'
            },
            tooltips: {
                mode: 'point',
                intersect: false,
            },
            hover: {
                mode: 'point',
                intersect: true
            },
            scales: {
               display: false
            }
        }
    };


    function addData(jsonData) {
        var newColor = colors[config_line.data.datasets.length % colors.length]
        jsonData.data.unshift(1)
        var newDataset = {
            label: jsonData.label,
            backgroundColor: newColor,
            borderColor: newColor,
            data: jsonData.data,
            fill: false
        };
        config_line.data.datasets.push(newDataset);
        var radarDataset = {
            label: jsonData.label,
            backgroundColor: newColor,
            borderColor: newColor,
            data: [jsonData.min,jsonData.max,jsonData.mean,jsonData.median,jsonData.variance/{{max_var}},jsonData.norm_integral/{{ max_integral }}],
            fill: false
        };
        config_radar.data.datasets.push(radarDataset);
    }

    config_line.data.labels = {{ labels|tojson|safe }};
    jsonDataSet.forEach(addData);

        console.log(config_line.data.datasets)
        console.log(config_radar.data.datasets)
        window.onload = function () {
        var ctx_line = document.getElementById("line_chart").getContext("2d");
        window.myLine = new Chart(ctx_line, config_line);
        var ctx_radar = document.getElementById("radar_chart").getContext("2d");
        window.myLine = new Chart(ctx_radar, config_radar);
    };

</script>

{% endif %}
</body>
</html>